<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spectre</title>
    
    {% load staticfiles %}
    
    <!--<link href="{% static 'css/bootstrap.min.css' %}" rel = "stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel = "stylesheet">-->

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="/static/css/spectre.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/spectre/">Spectre</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if context.user_message %}
                        <form method="get">
                            <div  class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/spectre/">Home</a>
                            </li>
                            <li>
                                <a href="/spectre/reviews/add">Post</a>
                            </li>
                            <li>
                                <a href="/spectre/logout">Logout</a>
                            </li>
                            </div>
                        </form>
                    {% else %}
                        <li>
                            <a href="/spectre/">Home</a>
                        </li>
                        <li>
                            <a href="/spectre/login">Login</a>
                        </li>
                        <li>
                            <a href="/spectre/register">Register</a>
                        </li>
                        <li>
                            <a href="/spectre/about">About</a>
                        </li>
                    {% endif %}                 
                    </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% block content %}
		{% load staticfiles %}
	{% endblock %}

</body>
</html>