{% extends 'base.html' %}
	{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Spectre</h1>
                        <hr class="small">
                        <span class="subheading">A blog for posting review's</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    {% if not posts %}
    	<center>
	    	<h1>Post your first spectre!<h1>
	    </center>
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                <div class="post-preview">
                    <a href="{% url 'review' pk=post.pk %}">				        
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                    </a>
                    <p class="post-meta">Posted by {{ post.author }} on {{ post.published_date }}</p>
                    <a href="{% url 'review' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
                    <hr>
                    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; Spectre 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="/static/js/clean-blog.min.js"></script>

{% endblock content %}
